.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 8px;
    position: relative;
}
.video iframe,
.video object,
.video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card h2 {
margin: 0 0 1rem 0;
font-size: 1rem;
}

.card p {
margin: 0;
font-size: .8rem;
line-height: 1.5;
}

@media (max-width: 1024px) {
    .video {
        margin-bottom: 28px;
    }
}