.sectionContainer {
    width: 100%;
    padding: 0 1rem;
}

.sectionContainer h1 {
    font-size: 1.8rem;
    padding: 0 1rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.containerVideos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.3vw;
    padding: 0 1rem;
    width: 100%;
}

@media (max-width: 767px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

