.navbar {
    background-color: var(--app-background-color);
    background: #ffffffaa;
    box-shadow: 0 1px 6px 0 #ccc;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 3rem;
}

.navbarLeft {
    display: flex;
    align-items: center;
}

.navbarLeft a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navbarRight {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
}

.navbarRight a {
    margin: auto 10px;
    white-space: nowrap;
}

.navbarRight a:hover {
    opacity: .6;
}

.navLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 72px;
    width: 200px;
    margin: 12px;
    padding: 8px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.logo {
    object-fit: contain;
}

.navLogo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.link {
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    .navbarContainer {
        padding: 0;
    }
    .navbarLeft {
        padding: 0;
    }
}

@media (max-width: 570px) {
    .navbarContainer {
        flex-direction: column;
        height: auto;
    }
    .navbarLeft {
        align-items: center;
        justify-content: center;
    }
    .navbarRight {
        display: none;
    }
}